{% block head %}
{% block stylesheets %}
<link href="/css/nuevoComentario.css" rel="stylesheet" />
{% endblock %}

{% endblock %}
{% block body %}
{% if info|default %}
    <p style="box-shadow: 0px 14px 32px 0px rgba(179,111,162,0.5); width: 50%;margin: 0 auto; text-align: center; background-color: #b36fa2; color: white;">{{info}}</p><br>
{% endif %}
<div class="container">
    <div class="formulario col-md-12">

        {{ form_start(form) }}
        <br>
        <div>
            <label><b>{{ form_row(form.text, {"label": "Comentario"})}}</b></label>
        </div><br>
    </div>
</div>
<div class="botones">
    <button class="btn">{{ button_label|default('Publicar comentario') }}</button>
</div>
{{ form_end(form) }}
{% endblock %}

